<h1>Welcome to Video King!</h1>
<h2>Please Log-In to continue</h2>

<form action="/sessions" method="POST">
<p>
 <label for="email">Email:</label>
<input type="text" name="email" id="email">
</p>
<p>
 <label for="password">Password:</label>
<input type="text" name="password" id="password">
</p>

<input type="submit">

</form>