<h1>SignUp</h1>
<h3> Please Sign up so you can add and view favorite games!</h3>

<form action="/users" method="POST">
<p>
 <label for="email">Email:</label>
<input type="text" name="email" id="email">
</p>
<p>
 <label for="password">Password:</label>
<input type="text" name="password" id="password">
</p>

<input type="submit">
<a href="/login">Go back</a>

</form>